.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.carousel-inner > .item .layer {
    background: #000;
    opacity: 0.1;
    filter: blur(10px);
}

.img-set{
float: left;
}

.call-set{
    float: right;
    padding: 37px 15px 5px;
    font: normal 14px/20px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    color: blue;
}
#menu-main {
   /* background-color: grey;*/
    position: relative;
    float: left;
    margin-top: 1%;
}
#menu-main ul {

    list-style-type: none;
    position: relative;
}
#menu-main ul li {
    display: inline-block;
    font-size: 15px;
    font-family: serif;
    padding: 5px 10px;
    cursor: pointer;

}
#menu-main ul li:hover {
    background-color: #686868;
    border-radius: 2px;
}
#menu-main ul li ul {
    display: none;
    position: absolute;
}
#menu-main ul li:hover ul {
    display: block;
}
#menu-main ul li ul {
    background: black;
    padding: 2px;
}
#menu-main ul li ul li {
    display: block;
}
.headerLogo{
    float: left;
    width: 100%;
}
.mainMenu{
   float: left;
    width: 100%;
    background: linear-gradient(13deg, #343434, #909090);
    color: white;
}
.searchBarMenu{
    float: right;
    margin-top: 10px;
}
#search_query_top {
    display: inline-block;
    padding: 5px 10px 3px 13px;
    height: 29px;
    border: 1px solid gray;
    background: none;
    font-size: 11px;
}
#searchBarMenu .btn.button-search {
    background: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    width: 39px;
    text-align: center;
    padding: 0;
    height: 29px;
}
#searchbox {
    float: left;
    width: 100%;
    border: none;
    position: relative;
    padding-right: 39px;
}

.contact {
    min-height: 500px;
    width: 100%;
    position: relative;
    padding: 20px;
 }
.conMain {
    margin-top: 9px;
    position: relative;
    float: left;
    width: 572px;
    height: 271px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}
.enquieryForm {
    float: left;
    width: 451px;
    margin-top: 9px;
    position: relative;
}
.fname1,.email1,.message1 {
    float: left;
    width: 90px;
    height: 45px;
    border: none;
}

.formField input{
    border: 1px solid #ccc;
    width: 400px;
    height: 43px;
    padding: 8px;
    font-size: 15px;
}

.formField textarea{
    border: 1px solid #ccc;
    width: 400px;
    padding: 8px;
    font-size: 15px;
}

.fname,.email,.message {
    float: left;
     width: 90px;
     height: 45px;
    border: none;

}
.message3{
    float: left;
    margin: 0 auto;
    height: 48px;
    box-sizing: border-box;
    line-height: 43px;
    font-size: 23px;
    margin-top: 10px;
    width: 310px;
    border: none;
}
.message3{
    background-color: #c7bfbe;
    background: -webkit-linear-gradient(top,#cdc1c0,#a69897);
    background: linear-gradient(180deg,#96817f 0,#b2a09f);
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-family: ProximaNova,georgia,sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.enquiryRow {
    overflow: hidden;
    width: 100%;
    margin: 3px 0px;
}
#myCarousel {
    width: 80%;
    margin: 0 auto;
}
#textContent{
     width:40%;
     float: left;
    border: 2px solid;
    height: 267px;
    margin-top: 1px;
 }

.container.sectionBody {
    width: 100%;
    padding: 0;
}
.welcomeMessage {
    float: left;
    width: calc(100% - 110px);
    margin-left: 10px;
    text-align: justify;
    padding: 3px;
}
.textHeadding{
    float: left;
    border-bottom: 1px solid #d4d4d4;
    font-size: 28px;
    width: 100%;
}

#welcomePage, #aboutUs {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
}

.containerBody {
    width: 80%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.sectionContainer {
    width: 100%;
    padding: 0;
    margin-top: 15px;
}
.welcomeImageMain {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 12px;
    background-repeat: no-repeat;
    background-size: 100px;
}

.welcomeIcon {
    background-image: url("../img/Vision_icon.png");
}

.aboutUsIcon {
    background-image: url("../img/About_Us.png");
}

.image-icon-enqry{
    height: 100px;
    width: 100px;
    background-image: url("../img/enquiry-icon-png-13.png");
    background-repeat: no-repeat;
    background-size: 100px;
    float: left;
    margin-left: 12px;
}
.mainTagIconInput {
    border-bottom: 1px solid #ccc;
    width: 91%;
    margin: 8px 115px;
    float: left;
    font-weight: 500;
    font-size: 20px;
}
.addMob {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.imgAddress {
    float: left;
    background-image: url("../img/contactpageIcon1.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px
}
.sadress {
    float: left;
    width: 350px;
    font-weight: 500;
    font-size: 15px;
    padding: 0px 9px;
}

.imgMobile {
    float: left;
    background-image: url("../img/contactpageIcon3.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-right: 5px;
}


.imgEmail {
    float: left;
    background-image: url("../img/contactpageIcon2.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-right: 5px;
}

.imgUser {
    float: left;
    background-image: url("../img/contactpageIcon5.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-right: 5px;
}

.userLabel {
    float: left;
    padding: 10px;
}

.userInfo {
    overflow: hidden;
    margin-bottom: 30px;
}

.mobNo {
    float: left;
}

.mobileNumber {
    margin-bottom: 4px;
}

.contactUsContainer {
    width: 100%;
}

.mainImageAdd {
    float: left;
}

.mainImageMob {
    float: right;
}